# Poweful EDA for large datasets

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('prorevenue.csv')
df.head(10)

,Product type,Revenue,No of purchases,store status,Promotion applied,Generic Holiday,Education Holiday,DayOfWeek
0,1,14190,890,open,1,0,1,5
1,2,6064,789,open,1,0,1,5
2,3,14190,821,open,1,0,1,5
3,4,13995,456,open,1,0,1,5
4,5,4822,559,open,1,0,1,5
5,6,5651,236,open,1,0,1,5
6,7,15344,1414,open,1,0,1,5
7,8,8492,833,open,1,0,1,5
8,9,13213,657,open,1,0,1,5
9,10,7185,681,open,1,0,1,5

In [8]:
df.rename(columns={'Product type':'product_type','No of purchases':'no_of_purchases','store status':'store_status','Promotion applied':'promotion_applied','Generic Holiday':'generic_holiday','Education Holiday':'education_holiday','DayOfWeek':'day_of_week'},inplace=True)
df.head()

,product_type,Revenue,no_of_purchases,store_status,promotion_applied,generic_holiday,education_holiday,day_of_week
0,1,14190,890,open,1,0,1,5
1,2,6064,789,open,1,0,1,5
2,3,14190,821,open,1,0,1,5
3,4,13995,456,open,1,0,1,5
4,5,4822,559,open,1,0,1,5

In [4]:
import sweetviz

In [5]:
df1= sweetviz.analyze(df)

#this will gives error bcouse in generic holiday coloumn we hv numeric and categorical both values values

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=9.0), HTML(value='')), la…

TypeError:

Column [Generic Holiday] has a 'mixed' inferred_type (as determined by Pandas).
This is is not currently supported; column types should not contain mixed data.
e.g. only floats or strings, but not a combination.

POSSIBLE RESOLUTIONS:
BEST -> Make sure series [Generic Holiday] only contains a certain type of data (numerical OR string).
OR -> Convert series [Generic Holiday] to a string (if makes sense) so it will be picked up as CATEGORICAL or TEXT.
     One way to do this is:
     df['Generic Holiday'] = df['Generic Holiday'].astype(str)
OR -> Convert series [Generic Holiday] to a numerical value (if makes sense):
     One way to do this is:
     df['Generic Holiday'] = pd.to_numeric(df['Generic Holiday'], errors='coerce')
     # (errors='coerce' will transform string values to NaN, that can then be replaced if desired; consult Pandas manual pages for more details)

In [10]:
df.generic_holiday.value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: generic_holiday, dtype: int64

In [11]:
df['generic_holiday']=df['generic_holiday'].replace(['a','b','c'],['1','1','1'])
df.generic_holiday.value_counts()

0    855087
0    131072
1     31050
Name: generic_holiday, dtype: int64

In [12]:
# changing a,b,c, into numeric
df['generic_holiday']=df['generic_holiday'].apply(lambda x:0 if x=='0' else 1)
df.generic_holiday.value_counts()

0    855087
1    162122
Name: generic_holiday, dtype: int64

In [13]:
df_eda = sweetviz.analyze(df)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=9.0), HTML(value='')), la…

In [18]:
#now we will make an html file
# syntax: df.show_html('df1')
df_eda.show_html('My_visualization.html')

Report My_visualization.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### To compare two datasets

In [14]:
df2=pd.read_csv('productdetails.csv')
df2.head()

   Unnamed: 0  product type  cost per unit  Time for delivery
0           0             1            457                 11
1           1             2           1545                 13
2           2             3           1910                 14
3           3             4            131                  9
4           4             5            868                  8

In [15]:
df2.drop(['Unnamed: 0'],inplace=True,axis=1)
df2.head()

   product type  cost per unit  Time for delivery
0             1            457                 11
1             2           1545                 13
2             3           1910                 14
3             4            131                  9
4             5            868                  8

In [16]:
df2.rename(columns={'product type':'product_type','cost per unit':'cost_per_unit','Time for delivery':'time_of_delivery'},inplace=True)
df2.head()

   product_type  cost_per_unit  time_of_delivery
0             1            457                11
1             2           1545                13
2             3           1910                14
3             4            131                 9
4             5            868                 8

In [17]:
df_compare = sweetviz.compare(df,df2)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=9.0), HTML(value='')), la…

In [19]:
df_compare.show_html('compare_visulization.html')

Report compare_visulization.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.